<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DBConnection" value="Persist Security Info=False;Integrated Security=true;Initial Catalog=SibIngrFiCorpusTest01;server=HOME1\\SQL2012SP2EXP" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>